{% extends 'ORM/base.html' %}

{% block content %}
<style>
    /* Estiliza o formulário para remover margem entre os parágrafos */
    form {
        margin-left: 20px; /* Margem à esquerda para o formulário */
    }

    /* Remove a margem inferior dos parágrafos dentro do formulário */
    form p {
        margin-bottom: 5px; /* Ajuste o valor conforme necessário */
    }
</style>
    <h3 style="margin-left: 20px">Criar Itens</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar</button>
    </form>
        <div>

        </div>
    
{% endblock %}
